<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>ClickGuard API Docs</h1>
    <p>API provides two main endpoints for clickbait prediction and text extraction from articles.</p>
</header>

<div class="container">

    <div class="endpoint">
        <h2>Extract</h2>
        <p class="method">POST /extract</p>
        <p class="description">This endpoint takes in an article and returns extracted title and main content.</p>
        <p><b>Request Body:</b></p>
        <pre>
{
    "url": "string",
    "html": "string"
}
        </pre>
        <p><b>Response:</b></p>
        <pre>
{
    "title": "string"
    "content": "string"
}
        </pre>
        <p><b>Errors:</b></p>
        <pre>
{
    "error": "Validation error message"
}
        </pre>
    </div>

    <div class="endpoint">
        <h2>Predict</h2>
        <p class="method">POST /predict</p>
        <p class="description">This endpoint takes in an article and returns a clickbait prediction based on the title and content.</p>
        <p><b>Request Body:</b></p>
        <pre>
{
    "title": "string"
    "content": "string"
}
        </pre>
        <p><b>Response:</b></p>
        <pre>
{
    "prediction": "int"
}
        </pre>
        <p><b>Errors:</b></p>
        <pre>
{
    "error": "Validation error message"
}
        </pre>
    </div>

    <div class="endpoint">
        <h2>Extract and Predict</h2>
        <p class="method">POST /extract_and_predict</p>
        <p class="description">This endpoint takes in an article, extracts title and content, and returns a clickbait prediction.</p>
        <p><b>Request Body:</b></p>
        <pre>
{
    "url": "string",
    "html": "string"
}
        </pre>
        <p><b>Response:</b></p>
        <pre>
{
    "prediction": "int"
}
        </pre>
        <p><b>Errors:</b></p>
        <pre>
{
    "error": "Validation error message"
}
        </pre>
    </div>

</div>

<div class="footer">
    <p>&copy; 2024 ClickGuard</p>
</div>

</body>
</html>
